.banner {
	@include media-breakpoint-up(lg) {
		background: $teal url("../images/banner-desktop.png") no-repeat scroll center top/cover;
		height: calc(100vh - 77px);
		justify-content: center;
		align-items: flex-start;
		text-align: left;
		padding: 0 $container-padding !important;
	}
	width: 100%;
	height: calc(100vh - 63px);
	background: $teal url("../images/banner-mobile.png") no-repeat scroll center top/cover;
	display: flex;
	flex-direction: column;
	padding: 0 2%;
	position: relative;
	z-index: 2;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.banner--title {
	color: $white;
	font-weight: $font-bold;
	font-size: #{(50/16)}rem;
	@include media-breakpoint-down(lg) {
		font-size: #{(58/16)}rem;
	}
}

.banner--desc {
	color: $white;
	font-weight: $font-semibold;
	font-size: #{(37/16)}rem;
	line-height: #{(50/16)}rem;
	margin-bottom: #{(50/32)}rem;
	@include media-breakpoint-down(lg) {
		font-size: #{(42/16)}rem;
	}
}

.mouse {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translate(-50%,50%);
}