.footer {
	background-color: $dark_gray;
	padding: 10px $container-padding;
	color: #fff;
	font-weight: 600;
	display: flex;
	font-size: #{(14/16)}rem;
	p {
		width: 20%;
		@include media-breakpoint-down(xs) {
			width: 100%;
			padding-bottom: 1rem;
		}
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	@include media-breakpoint-down(xs) {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}