.nav-main {
	position: sticky;
	background-color: $white;
	top: 0;
	display: flex;
	justify-content: space-between;
	z-index: 3;
	align-items: center;
	@include media-breakpoint-up(xl) {
		padding: 7px $container-padding;
		
	}
	@include media-breakpoint-down(lg) {
		height: 63px;
		.logo > img {
			max-height: 45px;
		}
		
	}
	.btn {
		align-self: center;
	}
	padding: 7px 2%;
}

.sitenav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65%;
}

.sitenav--item {
	padding: 0 30px;
	&>a {
		color: $dark_gray;
		text-decoration: none;
		font-size: #{(12/16)}rem;
		font-weight: 600;
		letter-spacing: #{(6/16)}rem;
		&:focus,
		&:hover {
			color: #000;
			outline-style: none;
		}
	}
	&.active a {
		color: #000;
	}
}

.flag-nav {
	@include media-breakpoint-up(lg) {
		width: 30%;
	}
	width: 80%;
	padding: #{(50/16)}rem 0;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	li {
		padding: 6px 3px;
	}
}

.footer-nav {
	width: 60%;
	display: flex;
	justify-content: center;
	a {
		padding: 0 25px;
	}
	@include media-breakpoint-down(xs) {
		width: 100%;
		justify-content: space-between;
		a {
			padding: 0 0 15px;
		}
	}
}

.burger-check:checked ~ .navigation {
  transition: $navigation__transition;
  transform: translate(0,0);
}

.navigation {
	z-index: 10;
	top: 0;
	transition: $navigation__transition;
	width: 100%;
	height: 100%;
	background-color: $white;
	position: fixed;
	left: 0;
	transform: translate(100vw,0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.sitenav--item {
		color: $gray;
		font-size: #{(50/16)}rem;
		text-decoration: none;
		font-weight: 300;
	}
}