.section {
	@include media-breakpoint-up(xl) {
		padding: #{(50/8)}rem $container-padding;
	}
	padding: #{(24/8)}rem 2%;
	text-align: center;
	position: relative;
	z-index: 1;
}

.section--title {
	font-weight: $font-bold;
	font-size: #{(37/16)}rem;
	color: $gray;
	margin-bottom: #{(50/32)}rem;
}

.section--desc {
	font-weight: $font-regular;
	font-size: #{(20/16)}rem;
}