.section__zigzag {
	@include media-breakpoint-up(lg) {
		padding: 0;
		flex-direction: row;
		justify-content: center;
		display: flex;
	}
	display: block;
}

.zigzag__text,
.zigzag__image {
	@include media-breakpoint-up(lg) {
		width: 30%;
	}
}

.zigzag__text {
	@include media-breakpoint-up(lg) {
		align-items: left;
		text-align: left;
		align-self: center;
		display: flex;
		flex-direction: column;
	}
	text-align: center;
}

.zigzag__image {
	@include media-breakpoint-up(lg) {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	display: inline-block;
	img {
		text-align: center;
		padding: 30px 0;
		max-width: 100%;
		@include media-breakpoint-down(md) {
			max-width: 100%;
		}
	}
}

.zigzag__odd {
	@include media-breakpoint-up(lg) {
		flex-direction: row-reverse;
	}
	background-color: $light_gray;

}