<section class="section js-section" id="section_about">
	<h2 class="section--title">All In One Messenger</h2>
	<p class="section--desc">
		Messenger is one-stop messaging app for all Android phones replacing the old and boring<br/> textinng apps with the all-in-one great messaging communicator.
	</p>
	<div class="boxes">
		<figure class="box--figure wow slideInUp" >
			<img src="../images/about-box-image-1.png" alt="Messages image">
			<figcaption class="box--figcaption">
				<h3 class="box--title">Messages</h3>
				<p class="box--desc">Send and receive text messages or multimedia messages very fast.</p>
			</figcaption>
		</figure>
		<figure class="box--figure wow slideInUp" data-wow-delay="0.3s">
			<img src="../images/about-box-image-2.png" alt="Messages image">
			<figcaption class="box--figcaption">
				<h3 class="box--title">Emojis &amp; Stickers</h3>
				<p class="box--desc">Great display of awesome face, emoji &amp; emoticons in message.</p>
			</figcaption>
		</figure>
		<figure class="box--figure wow slideInUp" data-wow-delay="0.6s">
			<img src="../images/about-box-image-3.png" alt="Messages image">
			<figcaption class="box--figcaption">
				<h3 class="box--title">Calls</h3>
				<p class="box--desc">Make calls fast from chat detail via cellular, Viber or other calling apps.</p>
			</figcaption>
		</figure>
		<figure class="box--figure wow slideInUp" data-wow-delay="0.9s">
			<img src="../images/about-box-image-4.png" alt="Messages image">
			<figcaption class="box--figcaption">
				<h3 class="box--title">All In One</h3>
				<p class="box--desc">Send messages to favourite instant messaging apps from one chat conversation.</p>
			</figcaption>
		</figure>
	</div>
</section>