<section class="banner">
	<h1 class="banner--title">Messenger</h1>
	<p class="banner--desc">Send messages to all<br />messaging apps</p>
	<a class="banner--btn" href="https://play.google.com/store/apps/details?id=messenger.messenger.messenger.messen
ger" target="_blank" title="download for android" >
		<img src="../images/button-android.png" alt="download for android" />
	</a>
	<img src="../images/scroll-down-mouse-hover.png" alt="scroll down" class="mouse animated infinite bounce" />
</section>
