<nav class="section section__zigzag zigzag__odd">
	<a href="#!top" title="Messages" data-section class="zigzag__image">
		<img src="../images/footer-logo.png" alt="Messages logo" />
	</a>
</nav>

<footer class="footer">
	<p>&copy; <?php echo date(Y); ?> Messenger Messenger</p>
	<nav class="footer-nav">
		<a href="../docs/terms.pdf" target="_blank" title="terms of use">Terms of use</a>
		<a href="../docs/processing_of_personal_data.pdf" target="_blank" title="Processing of personal data">Processing of personal data</a>
	</nav>
	<a href="mailto:appdev@pdhub.eu">appdev@pdhub.eu</a>
</footer>