<nav class="nav-main" role="navigation">
	<a href="#!top" title="Messages" data-section class="logo display-desktop">
		<img class="logo" src="images/header-logo.png" alt="Messages logo" />
	</a>
	<a href="#!top" title="Messages" data-section class="js-burger logo display-tablet">
		<img class="logo" src="images/header-logo-mobile.png" alt="Messages logo" />
	</a>
	<ul class="sitenav display-desktop">
		<li class="sitenav--item">
			<a href="#!section_about" data-section title="About">About</a>
		</li>
		<li class="sitenav--item">
			<a target="_blank" href="https://play.google.com/store/apps/details?id=messenger.messenger.messenger.messen
ger" title="Download">Download</a>
		</li>
		<li class="sitenav--item">
			<a href="#!section_features" data-section title="features">Features</a>
		</li>
		<li class="sitenav--item">
			<a href="#!section_press_kit" data-section title="press kit">Press Kit</a>
		</li>
	</ul>
	<a href="https://play.google.com/store/apps/details?id=messenger.messenger.messenger.messen
ger" target="_blank" class="btn display-desktop" title="Download">Download</a>
	<div class="burger-menu display-tablet">
		<input class="burger-check" id="burger-check" type="checkbox">
		<label for="burger-check" class="burger"></label>
		<nav class="navigation">
			<a href="#!top" title="messanger" data-section class="js-burger">
				<img class="logo" src="images/menu-logo-mobile.png" alt="Messages logo" />
			</a>
			<a href="#!section_about" data-section class="js-burger sitenav--item" title="About">About</a>
			<a href="https://play.google.com/store/apps/details?id=messenger.messenger.messenger.messen
ger" target="_blank" data-section class="js-burger sitenav--item" title="Download">Download</a>
			<a href="#!section_features" data-section class="js-burger sitenav--item" title="Features">Features</a>
			<a href="#!section_press_kit" data-section class="js-burger sitenav--item" title="Press Kit">Press kit</a>
		</ul>
	</div>
</nav>