<section id="section_press_kit" class="section js-section">
	<h2 class="section--title">Press Kit</h2>
	<p class="section--desc">Download official brand assets, logos, promotional graphic and brand guadelines.<br />
	Download Press Kit in your language</p>
	<ul class="flag-nav">
		<li><img src="../images/flags/flag-usa.png" alt="flag usa"></li>
		<li><img src="../images/flags/flag-ger.png" alt="flag ger"></li>
		<li><img src="../images/flags/flag-esp.png" alt="flag esp"></li>
		<li><img src="../images/flags/flag-bra.png" alt="flag bra"></li>
		<li><img src="../images/flags/flag-pol.png" alt="flag pol"></li>
		<li><img src="../images/flags/flag-cze.png" alt="flag cze"></li>
		<li><img src="../images/flags/flag-svk.png" alt="flag svk"></li>
		<li><img src="../images/flags/flag-rus.png" alt="flag rus"></li>
		<li><img src="../images/flags/flag-fra.png" alt="flag fra"></li>
		<li><img src="../images/flags/flag-ita.png" alt="flag ita"></li>
		<li><img src="../images/flags/flag-jap.png" alt="flag jap"></li>
		<li><img src="../images/flags/flag-chi.png" alt="flag chi"></li>
		<li><img src="../images/flags/flag-kor.png" alt="flag kor"></li>
		<li><img src="../images/flags/flag-inz.png" alt="flag inz"></li>
		<li><img src="../images/flags/flag-tha.png" alt="flag tha"></li>
		<li><img src="../images/flags/flag-tur.png" alt="flag tur"></li>
		<li><img src="../images/flags/flag-vie.png" alt="flag vie"></li>
		<li><img src="../images/flags/flag-ind.png" alt="flag ind"></li>
		<li><img src="../images/flags/flag-hun.png" alt="flag hun"></li>
	</ul>
	<a href="../docs/presskit.zip" title="Download Press Kit" class="btn btn--big">Download Press Kit</a>
</section>