<section id="section_features" class="section section__zigzag zigzag__odd js-section">
	<div class="zigzag__text wow slideInRight">
		<h2 class="section--title">Text Messages</h2>
		<p class="section--desc">Send text messages or images to any phone number. Have all messages in one place.</p>
	</div>
	<div class="zigzag__image wow slideInLeft">
		<img src="../images/zig-zag-img-1.png" alt="More than messaging" />
	</div>
</section>

<section class="section section__zigzag zigzag__even">
	<div class="zigzag__text wow slideInLeft">
		<h2 class="section--title">All In One</h2>
		<p class="section--desc">Send messages to all your favourite messaging apps like Whatsapp, Viber, Messenger etc.</p>
	</div>
	<div class="zigzag__image wow slideInRight">
		<img src="../images/zig-zag-img-2.png" alt="More than messaging" />
	</div>
</section>

<section class="section section__zigzag zigzag__odd">
	<div class="zigzag__text wow slideInRight">
		<h2 class="section--title">Your Style</h2>
		<p class="section--desc">Customize your preferred theme &amp; bubble colors, per contact as well.</p>
	</div>
	<div class="zigzag__image wow slideInLeft">
		<img src="../images/zig-zag-img-3.png" alt="More than messaging" />
	</div>
</section>

<section class="section section__zigzag zigzag__even">
	<div class="zigzag__text wow slideInLeft">
		<h2 class="section--title">Friends &amp; Family</h2>
		<p class="section--desc">Enjoy unlimited messaging with all your friends and family.</p>
	</div>
	<div class="zigzag__image wow slideInRight">
		<img src="../images/zig-zag-img-4.png" alt="More than messaging" />
	</div>
</section>

<section class="section section__zigzag zigzag__odd">
	<div class="zigzag__text wow slideInRight">
		<h2 class="section--title">Image &amp; Video</h2>
		<p class="section--desc">Send and receive images and videos quickly. Send multimedia messages without internet connection.</p>
	</div>
	<div class="zigzag__image wow slideInLeft">
		<img src="../images/zig-zag-img-5.png" alt="More than messaging" />
	</div>
</section>

<section class="section section__zigzag zigzag__even">
	<div class="zigzag__text wow slideInLeft">
		<h2 class="section--title">International Calls</h2>
		<p class="section--desc">Connect with friends and family. Make domestic or international calls.</p>
	</div>
	<div class="zigzag__image wow slideInRight">
		<img src="../images/zig-zag-img-6.png" alt="More than messaging" />
	</div>
</section>

<section class="section section__zigzag zigzag__odd">
	<div class="zigzag__text wow slideInRight">
		<h2 class="section--title">Emoji &amp; Stickers</h2>
		<p class="section--desc">Say it better with cool emojis.Express your emotions, send big emoji.</p>
	</div>
	<div class="zigzag__image wow slideInLeft">
		<img src="../images/zig-zag-img-7.png" alt="More than messaging" />
	</div>
</section>