html {
	@include media-breakpoint-up(lg) {
		font-size: 16px;
	}
	font-size: 14px;
}

body {
	font-family: $font-family;
	font-size: 1rem;
	line-height: 1.42;
	font-weight: $font-regular;
	color: $gray;
}