$teal: #1ad3fd;
$blue: #0084ff;
$white: #ffffff;
$black: #000000;
$gray: #5e6468;
$dark_gray: #5b5b5b;
$light_gray: #f8f8f8;

// Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
$font-family: 'Open Sans', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

$container-padding: 7.5%;

// break points
$mobile-min: 320px;
$mobile-max: 480px;
$tablet-min: 768px;
$tablet-max: 1024px;
$desktop-min: 1200px;
$desktop-max: 1400px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;




$burger--thickness: 4px;
$navigation__transition: transform 0.5s ease-in-out;