.boxes {
	display: flex;
	justify-content: space-between;
	padding: #{(50/8)}rem 0 0 0;
	flex-wrap: wrap;
}

.box--figure {
	@include media-breakpoint-up(lg) {
		width: 25%;
		padding-bottom: 0 !important;
	}
	justify-content: flex-start;
	width: 48%;
	padding: 0 2.5% 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		@include media-breakpoint-up(xl) {
			max-width: 191px;
			height: 191px;
		}
		@include media-breakpoint-down(lg) {
			max-width: 100%;
		}
		display: block;
		padding-bottom: #{(50/32)}rem;
		box-sizing: content-box;
	}
}

.box--title {
	color: $dark_gray;
	font-size: #{(20/16)}rem;
	font-weight: $font-bold;
	padding-bottom: 1rem;
}


.figure--image {
	height: 100%;
}