.btn {
	padding: 10px 45px;
	border: none;
	background-color: $blue;
	color: #fff;
	text-decoration: none;
	font-size: #{(12/16)}rem;
	font-weight: 600;
	border-radius: 37px;
	@include media-breakpoint-up(xl) {
		letter-spacing: #{(6/16)}rem;
		height: 50%;
	}
}

.btn--big {
	padding: 17px 45px;
}