// Burger menu button
.burger {
	$width: 28px;
	display: inline-block;
  	border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	border-top: $burger--thickness solid currentColor;
	width: $width;
	transition: border-bottom 1s ease-in-out;
	position: relative;
	z-index: 100;

	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}	 

	&:before {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid currentColor;
		width: 100%;
		margin-top: 5px;
		transition: transform 0.5s ease-in-out;    
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid currentColor;
		width: 100%;
		margin-top: 5px;
		transition: transform 0.5s ease-in-out;
	}
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-top: $burger--thickness solid transparent;
  transition: border-bottom 0.8s ease-in-out;

  &:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
  }

  &:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px); 
    transition: transform 0.5s ease-in-out;
  }
}