.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@import "bounce";
@import "slideInUp";
@import "slideInLeft";
@import "slideInRight";