@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate(-50%, -25px);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate(-50%, -49px);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate(-50%, -34px);
    }

    90% {
         transform: translate(-50%, -25px);
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}

